adafruit_connection_manager==3.1.7
adafruit_datetime==1.4.5
adafruit_max1704x==1.0.16
adafruit_pixelbuf==2.0.11
neopixel==6.4.1
adafruit_requests==4.1.16
adafruit_scd4x==1.4.10
adafruit_ticks==1.1.6
adafruit_bitmap_font==2.4.1
adafruit_bus_device==5.2.16
adafruit_register==1.11.2
adafruit_display_text==3.2.2
