adafruit_connection_manager==3.1.3
adafruit_datetime==1.4.0
adafruit_max1704x==1.0.12
adafruit_pixelbuf==2.0.7
neopixel==6.3.15
adafruit_requests==4.1.9
adafruit_scd4x==1.4.6
adafruit_ticks==1.1.2
adafruit_bitmap_font==2.1.4
adafruit_bus_device==5.2.11
adafruit_register==1.10.2
adafruit_display_text==3.2.2
