## Wifi
CIRCUITPY_WIFI_SSID = ""
CIRCUITPY_WIFI_PASSWORD = ""

## Public/anonymous connection info for our supabase instance
SUPABASE_URL = ""
SUPABASE_KEY = ""

## Twilio params
TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN = ""
TWILIO_PHONE_NUMBER = ""
TWILIO_DESTINATION_PHONE_NUMBER = ""

## unit specific settings
ELECTRICITYMAPS_ZONE = ""
